
netty.recycler/.classpath
netty.recycler/.project
netty.recycler/.settings/org.eclipse.jdt.core.prefs
netty.recycler/.settings/org.eclipse.m2e.core.prefs
guice.mockito/.project
guice.mockito/.classpath
guice.mockito/.settings/org.eclipse.jdt.core.prefs
guice.mockito/.settings/org.eclipse.m2e.core.prefs
elasticsearch.experiments/.classpath
elasticsearch.experiments/.project
*.prefs
gRPCExamples/grpc-hello-server/.classpath
gRPCExamples/grpc-hello-server/.project
elastic.recipes/.classpath
elastic.recipes/.project
redis.lettuce/.classpath
redis.lettuce/.project
